@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');

:root{
    --fonte-destaque: "Montserrat", sans-serif;   
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-pic {
    margin-right: 20px; /* Espaçamento entre a foto e a bio */
}

.profile-pic img {
    width: 200px; /* Largura da foto */
    height: auto;
    border-radius: 50%; /* Para uma foto redonda */
}

.bio {
    max-width: 400px; /* Largura máxima da bio */
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #A6523F;
   
    
}

p {
    font-size: 16px;
    line-height: 1.6;
}

#botao{
    background-color: #A6523F; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-family: Arial, sans-serif; /* Fonte */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    
}